html, body{
    margin:0;
    padding:0;
    width: 100%;
    display: flex;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}
.content{
    display: flex;
    border-radius: 25px;
    background: #ffffff;
    /* to jest odleglosc szarego na stronie */
    margin: 2%; 
    padding: 3em;
    width: 100%;
    justify-content:space-around;
    box-shadow: 5px 5px 15px 20px rgb(184, 184, 184);
}
.sidebar{
    width:20%;
}
.scenarios{
    width: 80%;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
nav a {
    margin-top: 10%;
    height: 2em;
    color:rgb(17, 17, 17);
    font-size: 2em;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
input[type=text] {
    width: 25%;
    padding: 5px;
    margin: 4px;
    box-sizing: border-box;
}

.scenario-title{
    padding: 3%;
}
.scenario{
display: flex;
margin:2%;
padding: 1%;
border:1px solid black;
justify-content: space-between;
flex-direction: row;
}
.scenario-information{
display:flex;
justify-content: space-around;
flex-direction: column;
}
.scenario-information-name{
font-size: 1em;
color: rgb(0, 0, 0);
text-shadow: 1px, 1px;
}
.scenario-information-status{
font-size:1em;
color:rgb(137, 137, 137)
}

.scenario-creation-metadata{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin:10px, 0, 0, 15px;
}
.scenario-creation-metadata p{
    font-size: 1em;
    color: rgb(92, 92, 92);
}

.scenario-creation-table{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: #dddddd;
    /* to jest odleglosc szarego na stronie */
    margin: 1%; 
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scenario-creation-table button{
    margin:10px; 
}

.scenario-creation-step{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin:10px;
}

.scenario-creation-submitbuttons{
    display: flex;
    justify-content:space-around;
}