html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    border-radius: 25px;
    background: #ffffff;
    /* to jest odleglosc szarego na stronie */
    margin: 2%;
    padding: 3em;
    width: 100%;
    justify-content: space-around;
    box-shadow: 5px 5px 15px 20px rgb(184, 184, 184);
}

.sidebar {
    width: 20%;
}

.application {
    width: 80%;
    border: 1px solid yellow;
    outline-style: solid;
    outline-color: red;
    outline-width: thin;
}
.application h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

nav a {
    margin-top: 10%;
    color: rgb(17, 17, 17);
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input[type=text] {
    width: 25%;
    padding: 5px;
    margin: 4px;
    box-sizing: border-box;
}

.scenario-title {
    padding: 3%;
}

.scenario-index {
    width: 100%;
    height: 100%;
    margin: 1%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.scenario-list-container {
    width: 100%;
    height: 100%;
    margin: 1%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.scenario-list-item {
    width: 90%;
    display: flex;
    margin: 2%;
    border: 1px solid black;
    justify-content: space-between;
    flex-direction: row;
}
.scenario-list-buttons{
    display: flex;
    justify-content: space-around;
    width:50%;
}


.scenario-information {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
}

.scenario-information-details {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.scenario-information-select {
    font-variant: small-caps;
    font-size: small;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
    width: 6%;
}

.scenario-information-name {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-shadow: 1px, 1px;
}

.scenario-information-status {
    font-size: 1em;
    color: rgb(137, 137, 137)
}

.scenario-creation-metadata {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px, 0, 0, 15px;
}

.scenario-creation-metadata p {
    font-size: 1em;
    color: rgb(92, 92, 92);
}

.scenario-creation-table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 10px;
    background: #dddddd;
    /* to jest odleglosc szarego na stronie */
    margin: 1%;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scenario-creation-table button {
    margin: 10px;
}

.scenario-creation-select {
    margin: 0;
}

.scenario-creation-step {
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    width: 100%;

    margin: 10px;
}

.scenario-creation-step-changed {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;

    margin: 10px;
}

.scenario-creation-step-settings {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0px 50px 10px 50px;
}

.scenario-creation-step-settings_clickenter {
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 80%;
    margin: 0px 50px 10px 50px;
}

.scenario-creation-submitbuttons {
    display: flex;
    justify-content: space-around;
}