{% extends 'base.html' %}

{% block content %}
<h1> {% block title %}Add Steps to {{ scenario_details[0]}}{% endblock %}</h1>
<script src="../static/ScenarioCreation.js"></script>
<form action="{{ url_for('add_steps') }}" method="post">

    <input type="hidden" id="steps_to_show" value="{{ step_names }}" />
    <input type="hidden" id="steps_to_show" value="{{ step_names }}" />



    <div class="scenario-creation-metadata">
        <p> expected: {{ scenario_details[1] }}</p>
        <p> author: {{ scenario_details[2] }}</p>
    </div>


    <div id="scenario-creation-table" class="scenario-creation-table">
        <button type="button" id="add_step">Add a step</button>
        <!-- tu wchodzą kroki do wybrania-->
    </div>

    <div class="scenario-creation-submitbuttons">
        <div></div>
        <div></div>
        <div></div>
        <input type="button" value="pobierz dżejson">
        <input type="submit" value="add_scenario">
    </div>
</form>





<script>
    var scenario_creation_table = document.getElementById('scenario-creation-table');
    var add_step_button = document.getElementById('add_step');
    var steps_arr = document.querySelector('#steps_to_show').value.replace('[', '').replace(']', '').replaceAll(' ', '').replaceAll("'", '').split(',');
        // STEPS_ARR AS KEY, VALUES IN POLISH
    var elements = [];


    var nextId = 0;
    function addStep() {
        // container
        var step_container = document.createElement("div");
        step_container.className = "scenario-creation-step"
        step_container.id = "step_" + nextId;
        
        // creates new select
        add_step_button.onclick = addStep;

        // new select is being created
        var select = document.createElement("select");
        select.id = "select_" + nextId;

        // adding options to a select
        for (let i = 0; i < steps_arr.length; i++) {
            let opt = document.createElement('option');
            opt.value = steps_arr[i];
            opt.innerHTML = steps_arr[i];
            select.appendChild(opt);
        }
        // adding select and container to a document
        scenario_creation_table.appendChild(step_container);
        step_container.appendChild(select);

        // next run
        nextId += 1;

        // I want to log the value of this select when it changes
        select.onchange = setPossibleSteps;
    }

    addStep();


</script>
{% endblock %}