{% extends 'base.html' %}

{% block content %}
<h1> {% block title %}Add Steps to {{ scenario_details[0]}}{% endblock %}</h1>
<form action="{{ url_for('add_steps') }}" method="post">

    <input type="hidden" id="steps_to_show" value="{{ step_names }}" />
    <input type="hidden" id="steps_to_show" value="{{ step_names }}" />



    <div class="scenario-creation-metadata">
        <p> expected: {{ scenario_details[1] }}</p>
        <p> author: {{ scenario_details[2] }}</p>
    </div>


    <div id="scenario-creation-table" class="scenario-creation-table">
        <button type="button" id="add_step">Add a step</button>
        <!-- tu wchodzą kroki do wybrania-->
    </div>

    <div class="scenario-creation-submitbuttons">
        <div></div>
        <div></div>
        <div></div>
        <input type="button" value="pobierz dżejson">
        <input type="submit" value="add_scenario">
    </div>
</form>





<script>
    var nextId = 0;
    var scenario_creation_table = document.getElementById('scenario-creation-table');
    var add_step_button = document.getElementById('add_step');
    var arr = document.querySelector('#steps_to_show').value.replace('[', '').replace(']', '').split(',');

    function addStep() {
        var step_container = document.createElement("div");
        step_container.className = "scenario-creation-step"

        var select = document.createElement("select");
        select.id = "step_" + nextId;

        add_step_button.onclick = addStep;


        for (let i = 0; i < arr.length; i++) {
            let opt = document.createElement('option');
            opt.value = arr[i];
            opt.innerHTML = arr[i];
            select.appendChild(opt);
        }
        scenario_creation_table.appendChild(step_container);
        step_container.appendChild(select);
        nextId += 1;
    }

    addStep();

</script>
{% endblock %}