<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WATS | {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="content">
        <div class="sidebar">
            <nav>
                <img alt = "logo" src="../static/logo.png"/>
                <a href="{{ url_for('scenario_list') }}"">Scenariusze</a>
                <a href="{{ url_for('scenario_add') }}"">Stwórz scenariusz</a>
                <a href="">O aplikacji</a>
            </nav>
        </div>
        <div class="application">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
