{% extends 'base.html' %}

{% block content %}
<script src="../static/ScenarioOperations.js"></script>
<div class="scenario-list-container">
    
    
    <h2>{% block title %}Scenariusze testowe{% endblock %}</h2>


    {% for scenario in scenarios %}
    <div id="scenario-list-item" class="scenario-list-item">

        <div id="scenario-information" class="scenario-information">
            <div class="scenario-information-select">
                <label for="selected">wykonaj</label>
                <input id="selected" type="checkbox">
            </div>
            <div class="scenario-information-details">
                <div class="scenario-information-details-name" value="{{ scenario.name }}">Nazwa scenariusza: {{
                    scenario.name }}</div>
                <div class="scenario-information-details-expected" value="{{ scenario.expected }}">Spodziewany wynik: {{
                    scenario.expected }}</div>
                <div class="scenario-information-details-author" value="{{ scenario.author }}">Autor: {{ scenario.author
                    }}</div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button class="scenario-information-steps" data="{{ scenario.steps }}">Wyświetl kroki</button>
    </div>
    {% endfor %}

    <button style="width:20%;justify-content: center;" onclick="gatherScenariosToExecution()">Wykonaj wybrane
        scenariusze</button>

    </div>


{% endblock %}